body {
	background-color: #f2f2f2;
}

nav .navbar-brand {
	color: #ffffff;
}

/* Navbar, dropdown toggle and dropdown menu */
nav, nav ul, nav .dropdown-menu {
	background-color: #43a047;
	color: #f2f2f2;
}

nav a, nav a:visited {
	color: #f2f2f2;
}

nav .active, nav li:hover a:hover, nav .dropdown-menu a:hover {
	background-color: #3c8f3f;
	color: #ffffff;
}

nav .fa {
	color: #ffffff;
}

article h1, article h1 .title {
	background-color: #66bb6a;
	color: #eeffee;
}

section {
	background-color: #eeeeee;
}

footer {
	color: #aaaaaa;
}

footer a {
	color: #888888;
}

footer a:hover {
	color: #555555;
}