html {
	font-size: 1em;
}

a, a:hover, a:visited, a:focus {
	text-decoration: none;
}

a .fa {
	padding-right: 0.5rem;
}

nav, .navbar {
	border-radius: 0;
	font-size: 1.25rem;
}

nav .collapse {
	/* Removes padding on the sides of the navbar */
	padding: 0;
}

nav .navbar-brand {
	font-size: 3rem;
	font-family: Montserrat, sans-serif;
	margin-right: 3rem;
}

nav .dropdown-menu {
	border-radius: 0;
	border: none;
	font-size: 1.25rem;
	box-shadow: none;
}

#main {
	background-color: #fff;
	width: 85%;
	margin: -2.1rem auto 1rem auto;
	padding: 2rem;
	box-shadow: 0 2px 2px #aaaaaa;
}

article h1 {
	margin: 3rem 0 4rem 0;
	padding: 0.75rem 1rem 0 2rem;
	line-height: 70%;
	box-shadow: 0 2px 2px #aaaaaa;
}

article h1 .title {
	padding: 0 3rem 0 2rem;
	box-shadow: 0 1px 5px #66bb6a;
}

section {

}

footer {
	text-align: center;
	line-height: 2.5rem;
}

footer a {
	padding: 0 0.5rem 0 0.5rem;
	transition: ease-out 0.25s;
}

footer img {
	width: 1.5rem;
	display: inline;
	margin-right: 0.5rem;
}