html {
	font-size: 1em;
	transition: ease-in 0.2s;
}

a, a:hover, a:visited, a:focus {
	text-decoration: none;
}

a .fa {
	padding-right: 0.5rem;
}

nav, .navbar {
	border-radius: 0;
	font-size: 1.25rem;
	box-shadow: 0 2px 2px #aaaaaa;
}

nav ul li a {
	transition: ease-out 0.3s;
}

nav .collapse {
	/* Removes padding on the sides of the navbar */
	padding: 0;
}

nav .navbar-brand {
	font-size: 3rem;
	font-family: Montserrat, sans-serif;
	margin-right: 2rem;
}

nav .dropdown-menu {
	border-radius: 0;
	border: none;
	font-size: 1.25rem;
	box-shadow: -1px 2px 2px rgba(50, 50, 50, 0.25), 1px 2px 2px rgba(50, 50, 50, 0.25);
	padding: 0;
}

nav .dropdown-menu a {
	padding: 0.5rem 0 0.5rem 2rem;
}

.navbar-toggle {
	font-size: 3rem;
	padding: 0;
}

.collapse.in .navbar-nav {
	overflow: hidden;
	box-shadow: none;
	margin: 0;
}

.collapse.in a {
	padding-left: 1.86rem;
	margin: 0;
}

.collapse.in .dropdown-menu li {
	padding: 0 2rem 0 2rem;
}

#main {
	background-color: #fff;
	width: 85%;
	margin: -1.5rem auto 1rem auto;
	padding:  0 2rem 2rem 2rem;
	box-shadow: 0 2px 2px #aaaaaa;
}

article h1 {
	margin: 0 0 1.5rem 0;
	padding: 0.2rem 0 0 0.75rem;
	box-shadow: 0 2px 2px #aaaaaa;
}

section {
	padding: 2.5rem 2rem 2rem 2rem;
	font-size: 1.25rem;
}

section .content {
	padding-left: 2rem;
}

section ul {
	padding: 0;
}

section li {
	margin-bottom: 1rem;
	list-style: square inside;
}

section li .element {
	font-weight: bold;
}

section li .element::after {
	content: ": ";
}

footer {
	text-align: center;
	line-height: 2.5rem;
}

footer .fa {
	padding-right: 0.25rem;
}

footer a {
	padding: 0 0.5rem 0 0.5rem;
	display: inline-block;
	transition: ease-out 0.25s;
}

footer img {
	width: 1.5rem;
	display: inline;
	margin-right: 0.5rem;
}

@media (max-width: 1200px) {
	html {
		font-size: 0.8em;
	}
}