html {
	font-size: 1em;
}

/* Icons */
i.fa {
	padding-right: 0.5rem;
}

nav {
	/* Fixes the navbar's shadow not being on top of the content */
	position: relative;
}

nav .brand-logo {
	position: relative;
	font-size: 3rem;
	font-family: Montserrat, sans-serif;
	/* Space between logo and navbar elements */
	padding: 0 3rem 0 0;
	/* Space between logo and left side */
	margin: 0 0 0 1rem;
}

/* Elements of the navbar */
nav ul li a {
	font-size: 1.25rem;
}

/* Fixes the elements' shadow looking weird on hover */
nav .nav-wrapper {
	box-shadow: none;
}

/* Makes dropdown elements appear under the navbar */
.dropdown-content {
	margin-top: 4rem;
	box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.156863), 1px 1px 1px rgba(0, 0, 0, 0.156863), 0 3px 3px rgba(0, 0, 0, 0.117647);
}

#main {
	background-color: #fff;
	width: 85%;
	margin: -2.1rem auto 1rem auto;
	padding: 2rem;
	box-shadow: 0 2px 2px #aaaaaa;
}

article h1 {
	margin: 3rem 0 4rem 0;
	padding: 0.75rem 1rem 0 2rem;
	line-height: 70%;
	box-shadow: 0 2px 2px #aaaaaa;
}

article h1 .title {
	padding: 0 3rem 0 2rem;
	box-shadow: 0 1px 5px #66bb6a;
}

section {

}

footer {
	text-align: center;
	line-height: 2.5rem;
}

footer a {
	padding: 0 0.5rem 0 0.5rem;
	transition: ease-out 0.25s;
}

footer img {
	width: 1.5rem;
	display: inline;
	margin-right: 0.5rem;
}